
  <form method="post" action="{% url 'choose_month' %}">
    {% csrf_token %}
    <label for="month">Vacations Of Month:</label>
    <select name="month" id="month">
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <button type="submit">Search</button>
  </form>
