{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login Page{% endblock title %}

{% block content %}
<div class="container">
<div class="row mt-5">

    <div class="col-md-6 offset-md-3">
        <div class="border bg-white p-3">
            <h3 >Logout Page</h3><hr>
            <div class="alert alert-danger">
                <h4>You Have Loged-out</h4> <hr>
                <a href="{% url 'login_view' %}">Logn</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}